{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'rule_editor/css/common/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'rule_editor/css/common/themes/base16-dark.css' %}">
<link rel="stylesheet" href="{% static 'rule_browser/css/site/search.css' %}">

{% endblock %}

{% block content %}
{% load mathfilters %}

<div class="row justify-content-center">
    <div class="col-md-12">
        <br>
        <form class="input-group mb-3" id="rule-search-form" action="/rules/search/" method="GET">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                   aria-describedby="search-btn" name="term">
            <input hidden type="text" class="form-control" name="start" value="0">
            <input hidden type="text" class="form-control" name="max_results" value="10">
            <button class="btn btn-danger" type="submit" id="search-btn">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 vh-75">
        <div class="card search-container">
            <div class="card-body">
                <table class="table info-table w-100 table-borderless">
                    <thead>
                    <tr>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-6">Rule</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in search_results.results %}
                    <tr>
                        <td><a href="/rules/{{result.id}}">{{ result.name }}</a></td>
                        <td><p>{{ result.description }}</p></td>
                        <td class="editor-container">
                            <a class="btn btn-sm btn-secondary open-in-editor" href="/rules/{{result.id}}/editor">Open in Editor</a>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img src="{% static 'core/img/loader.svg' %}" class="loader"/>
                            </div>
                            <textarea hidden disabled class="yara-rule form-control">{{ result.rule }}</textarea>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group">
                        {% if search_results.search_parameters.start != 0 %}
                            <a class="btn btn-secondary btn-sm"
                               href="?term={{search_results.search_parameters.term}}&start={{search_results.search_parameters.start|sub:search_results.search_parameters.max_results}}&max_results={{search_results.search_parameters.max_results}}">Previous</a>
                        {% endif %}
                        <button disabled class="btn btn-secondary btn-sm">{{search_results.search_parameters.start|add:search_results.displayed}} of {{search_results.available}}</button>
                        {% if search_results.search_parameters.start|add:search_results.displayed !=  search_results.available %}
                            <a class="btn btn-secondary btn-sm"
                               href="?term={{search_results.search_parameters.term}}&start={{search_results.search_parameters.start|add:search_results.search_parameters.max_results}}&max_results={{search_results.search_parameters.max_results}}">Next</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'rule_editor/js/common/codemirror.js' %}"></script>
<script src="{% static 'rule_editor/js/site/lexers/yara.js' %}"></script>
<script src="{% static 'rule_browser/js/site/search.js' %}"></script>

<script>
    createSearchRuleViewers();
</script>
{% endblock %}
