{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'rule_editor/css/common/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'rule_editor/css/common/themes/base16-dark.css' %}">
<link rel="stylesheet" href="{% static 'rule_collections/css/site/styles.css' %}">
{% endblock %}

{% block content %}
{% load mathfilters %}
<div class="row">
    <div class="col-md-12 vh-75">
        <br>
        <div class="card rule-collections-container">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Created</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Rule Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for collection in collections %}
                    <tr>
                        <td><a class="btn btn-sm btn-dark" href="/my_collections/{{collection.id}}/"><i
                                class="fa-solid fa-pen"></i></a></td>
                        <td><img class="collection-icon" src="/static/core/img/icons/collections/{{collection.icon}}.png"></td>
                        <td>{{collection.created_time}}</td>
                        <td>{{collection.name}}</td>
                        <td>{{collection.description}}</td>
                        <td>{{collection.get_rule_count}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <hr>
            </div>

        </div>
        <br>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'rule_editor/js/common/codemirror.js' %}"></script>
<script src="{% static 'rule_editor/js/site/lexers/yara.js' %}"></script>
<script src="{% static 'rule_browser/js/site/search.js' %}"></script>

<script>
    createSearchRuleViewers();
</script>
{% endblock %}
