{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'rule_collections/css/site/styles.css' %}">
{% endblock %}

{% block content %}
    {% load mathfilters %}

    <div class="row justify-content-center">
        <div class="col-md-12">
            <br>
            <form class="input-group mb-3" id="rule-search-form" action="/collections/" method="GET">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                       aria-describedby="search-btn" name="term">
                <input hidden type="text" class="form-control" name="start" value="0">
                <input hidden type="text" class="form-control" name="max_results" value="10">
                <button class="btn btn-danger" type="submit" id="search-btn">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 vh-75">
            <br>
            <div class="card rule-collections-container">
                <div class="card-body">
                    <table class="table table-responsive-lg info-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Created</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Rule Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for collection in collections %}
                            <tr>
                                <td>
                                    {% if collection.is_owner %}
                                        <a class="btn btn-sm btn-dark" href="#"><i
                                                class="fa-solid fa-pen" data-bs-toggle="offcanvas"
                                                data-bs-target="#side-panel-popout" aria-controls="offcanvasRight"></i>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-sm btn-dark" href="#"><i
                                                class="fa-solid fa-clone" data-bs-toggle="offcanvas"
                                                data-bs-target="#side-panel-popout" aria-controls="offcanvasRight"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td><a href="/collections/{{ collection.id }}"><img
                                        class="collection-icon"
                                        src="/static/core/img/icons/collections/{{ collection.icon }}.png"></a></td>
                                <td><span class="badge bg-danger badge-large">{{ collection.created_time }}</span></td>
                                <td id="collection-name"><a href="/collections/{{ collection.id }}" >{{ collection.name }}</a></td>
                                <td>{{ collection.description }}</td>
                                {% if collection.is_owner %}
                                    <td>
                                        <a href="/rules/mine/?term=collection_id: {{ collection.id }}">{{ collection.get_rule_count }}</a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="/rules/?term=collection_id: {{ collection.id }}">{{ collection.get_rule_count }}</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <hr>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="btn-group">
                            {% if has_previous_page %}
                                <a class="btn btn-secondary btn-sm"
                                   href="?term={{ search_parameters.term }}&start={{ search_parameters.start|sub:search_parameters.max_results }}&max_results={{ search_parameters.max_results }}">Previous</a>
                            {% endif %}
                            <button disabled
                                    class="btn btn-secondary btn-sm">{{ search_parameters.start|add:displayed }}
                                of {{ available }}</button>
                            {% if has_next_page %}
                                <a class="btn btn-secondary btn-sm"
                                   href="?term={{ search_parameters.term }}&start={{ search_parameters.start|add:search_parameters.max_results }}&max_results={{ search_parameters.max_results }}">Next</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="offcanvas offcanvas-start vw-100" tabindex="-1" id="side-panel-popout"
             aria-labelledby="side-panel-popout-title">
            <div class="offcanvas-header">
                <h5 id="side-panel-popout-title"></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="side-panel-popout-body">
                ...
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'rule_collections/js/site/collections.js' %}"></script>
{% endblock %}
