<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>{% block title %}YARAwesome{% endblock %}</title>
    <!-- Add your CSS links here -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/common/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/site/styles.css' %}">

    {% block styles %}
    {% endblock %}
</head>
<body>
<header>
</header>
<div class="container-fluid d-flex flex-column" data-bs-theme="dark">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-fixed-top bg-black">
            {% if user.is_authenticated %}
            <div class="container-fluid">
                <a class="navbar-brand ms-auto text-danger fs-4 logo-text" href="/"><img src="{% static 'core/img/logo-small.png' %}" class="navbar-logo"/> YARAwesome</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/editor">Editor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rules/search">Rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Deployments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/rules">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</div>
<footer>
</footer>
<script src="{% static 'core/js/common/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/common/jquery.min3.7.1.js' %}"></script>
<script src="{% static 'core/js/site/core.js' %}"></script>
<!-- Add your JavaScript scripts here -->
{% block scripts %}
{% endblock %}
</body>
</html>