.bg-black {
    color: "#000000"
}

.navbar-logo {
    height: 50px;
    width: auto;
}

.loader {
    height: 50px;
    width: 50px;
}

.bug {
    height: 30vh;
    width: auto;
}

.logo {
    height: 50vh;
    width: auto;
}
.logo-text {
    font-family: system-ui;
}

.offcanvas-large {
    width: 100vw;
}


.info-table {
  font-size: 12px;
}

.info-table td {
    vertical-align: middle;
}