.CodeMirror {
  border: 1px solid #eee;
  height: 300px;
  overflow: hidden;
}

.collection-icon {
    width: 45px;
    height: auto;
    border-radius: 100%;
    border: 1px solid grey;
}

.open-in-editor {
  font-size: 15px;
  position: relative;
  border-color: red;
  bottom: 280px;
  left: 95%;
  margin-right: 100px;
  z-index: 1000;
}