<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>{% block title %}YARAwesome{% endblock %}</title>
    <!-- Add your CSS links here -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/common/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/common/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/site/styles.css' %}">
    <script src="https://kit.fontawesome.com/cd7d6a3776.js" crossorigin="anonymous"></script>
    {% block styles %}
    {% endblock %}
</head>
<body>
<header>
</header>
<div class="container-fluid d-flex flex-column" data-bs-theme="dark">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-fixed-top bg-black">
            {% if user.is_authenticated %}
            <div class="container-fluid">
                <a class="navbar-brand ms-auto text-danger fs-4 logo-text" href="/"><img
                        src="{% static 'core/img/logo-small.png' %}" class="navbar-logo"/> <b>YARA</b>wesome</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/rules/"><i class="fa-solid fa-spider"></i></i>&nbsp Rules</a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-link" href="/collections/"><i class="fa-solid fa-box-open"></i>&nbsp Collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lab/"><i class="fa-solid fa-vial"></i>&nbsp Lab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/editor/"><i class="fa-solid fa-pen"></i>&nbsp Editor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/rules/"><i class="fa-solid fa-code"></i>&nbsp API</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i>&nbsp{{ user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="/import/"><i class="fa-solid fa-file-import"></i>&nbsp
                                    Import Rules</a></li>
                                <li><a class="dropdown-item" href="/rules/mine/"><i class="fa-solid fa-spider"></i>&nbsp
                                    My Rules</a></li>
                                <li><a class="dropdown-item" href="/collections/mine/"><i class="fa-solid fa-box"></i>&nbsp
                                    My Collections</a></li>
                                <li><a class="dropdown-item" href="/imports/mine/"><i class="fa-solid fa-list"></i>&nbsp My
                                    Imports</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-server"></i>&nbsp My
                                    Deployments</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i>&nbsp Settings</a>
                                </li>
                                <li><a class="dropdown-item" href="/user/logout"><i
                                        class="fa-solid fa-right-from-bracket"></i>&nbsp Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</div>
<footer>
</footer>
<script src="{% static 'core/js/common/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/common/jquery.min3.7.1.js' %}"></script>
<script src="{% static 'core/js/common/bootbox.min.js' %}"></script>
<script src="{% static 'core/js/common/toastr.min.js' %}"></script>
<script src="{% static 'core/js/site/core.js' %}"></script>
<!-- Add your JavaScript scripts here -->
{% block scripts %}
{% endblock %}
</body>
</html>