.collection-icon {
    width: 45px;
    height: auto;
    border-radius: 100%;
    border: 1px solid grey;
}

.collection-icon-lg {
    width: 150px;
    height: auto;
    border-radius: 100%;
    border: 1px solid grey;
}


.collection-icon-container {
    position: relative;
    width: 35px; /* Adjust the width as needed */
}

/* CSS for the image */
.collection-icon-container img {
    width: 100%;
    height: auto;
    border: 2px solid grey;
}

/* CSS for the overlay that appears on hover */
.collection-icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for the text inside the overlay */
.overlay-text {
    color: white;
    font-size: 24px;
    text-align: center;
}

/* Hover effect: Show the overlay */
.collection-icon-container:hover .collection-icon-overlay {
    opacity: 1;
}

.collection-name-input {
    font-size: 20px;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}