.CodeMirror {
  border: 1px solid #eee;
  height: 300px;
  overflow: hidden;
}

.open-in-editor {
  font-size: 15px;
  position: relative;
  border-color: red;
  bottom: 280px;
  left: 95%;
  margin-right: 100px;
  z-index: 1000;
}