{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'yara_rule_editor/css/common/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'yara_rule_editor/css/site/editor.css' %}">

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <textarea id="editor"></textarea>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'yara_rule_editor/js/common/codemirror.js' %}"></script>
<script src="{% static 'yara_rule_editor/js/site/lexers/yara.js' %}"></script>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    lineNumbers: true,
    mode:  "yara"
  });

</script>
{% endblock %}
